<!DOCTYPE html>
<html>
  <head>
    <title>View Source</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript">
      function highlightTags(name) {
        $(".tag").removeClass("highlighted");
        $(".tag-" + name).addClass("highlighted");
      }
      function showSource(which) {
        $(".source").hide();
        $("#" + which).show();
      }
      $(document).ready(function (){
        $("#prettified").hide();
      });
    </script>
    <style type="text/css">
      body { background: #242226; color: #cac5d0; }
      .source { font-family: monospace; line-height: 135%; white-space: pre-wrap; }
      .highlighted { background: #ff7f7f; color: #242226; }
    </style>
  </head>
  <body>
    <h1>HTML fetched from <a href="<%=h @uri %>"><%=h @uri %></a></h1>
    <div id="summary">
      <ol>
        <% @summary.keys.sort.each do |tag_name| %>
          <li><a href='javascript:highlightTags("<%=h tag_name %>")'
                 class="tag tag-<%=h tag_name %>"><%=h tag_name %></a> (<%= @summary[tag_name] %>)</li>
        <% end %>
      </ol>
    </div>
    <div id="source">
      <a href='javascript:showSource("raw")'>Raw</a>
      <a href='javascript:showSource("prettified")'>Prettified</a> (converts to XHTML; may be lossy)
      <div class="source" id="raw"><%= @html.to_s %></div>
      <div class="source" id="prettified"><%= @pretty_html.to_s %></div>
    </div>
  </body>
</html>
