<!DOCTYPE html>
<html>
  <head>
    <title>View Source: <%=h @title || @uri %></title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="/source.js"></script>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <div id="summary">
      <h1>HTML fetched from <a href="<%=h @uri %>" target="blank"><%=h @title || @uri %></a></h1>
      <h2>Tags</h2>
      <ul>
        <% @summary.keys.sort.each do |tag_name| %>
          <li><a href='javascript:highlightTags("<%=h tag_name %>")'
                 class="tag tag-<%=h tag_name %>"
              ><%=h tag_name %></a>&nbsp;<span class="note">(<%= @summary[tag_name] %>)</span></li>
        <% end %>
      </ul>
      <h2>Display Mode</h2>
      <ul>
        <li><a href='javascript:showSource("raw")' id="button-raw" class="display-mode highlighted">Raw</a></li>
        <li><a href='javascript:showSource("prettified")' id="button-prettified" class="display-mode">Prettified</a></li>
      </ul>
      <p class="note">Prettified mode converts to XHTML and may be lossy.</p>
    </div>
    <div id="source">
      <div class="source" id="raw"><%= @html.to_s %></div>
      <div class="source" id="prettified"><%= @pretty_html.to_s %></div>
    </div>
  </body>
</html>
